<div class="roster-display">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                    <div class="show_header">
                        <h1>The Great city of
                            <%= @city.name %></h1>
                        <%= image_tag @city.image.url(:medium) %>

                    </div>

                    <ul class="nav nav-pills categories">
                        <li class="active"><button type="button" class="btn btn-default"><%= link_to "Create Post for #{@city.name}", new_city_post_path(@city) %></button></li>
                        <li><button type="button" class="btn btn-success"><%= link_to "Back to #{@city.name}", city_path(@city) %></button></li>
                    </ul>

                    <% @city.posts.reverse_each do |post| %>
                    <div class="card borders">
                        <img class="card-img-top" src="<%= post.user.avatar %>" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Title: <%= post.title %></h4>
                                <strong>Created by: <%= post.user.username %></strong>

                                <p class="posttime"><%= time_ago_in_words(post.created_at) %>
                                    Ago</p>
                                <p class="card-text">
                                    <%= post.text %>
                                </p>
                                <br>
                            </div>
                        </div>
                        <hr>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
