<header>
    <div class="city_image">
        <%= image_tag @city.image.url %>
    </div>
</header>

<div class="city-display">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">

                    <h2>
                        <strong>City Name:
                        </strong><%= @city.name %>
                    </h2>
                    <hr>
                    <h2>
                      <strong>State:
                      </strong><%= @city.address %>

                    </h2>
                    <hr>
                    <h2>
                      <strong>Description:</strong>
                      <p><%= @city.description %></p>


                    </h2>

                    <hr/>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default"><%= link_to "Edit This City", edit_city_path(@city) %></button>
                        <button type="button" class="btn btn-default"><%= link_to "show post for this city", city_posts_path(@city) %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
